{% extends "layout.twig" %}

{% block content %}
        <h2>Add Project</h2>
        <form action="/projects/add" method="post">
            <label for="">Title</label>
            <input type="text" name="title"><br>
            <label for="">Description</label>
            <input type="text" name="description"><br>
            <button type="submit">Save</button>
        </form>
{% endblock %}


